<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.4241565034-dreqj9oqr43564hf1locoeg7sfig4hsu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb64368537493</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.gigya.GigyaDemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.gigya.GigyaDemo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DisableTwitterNativeLogin</key>
	<false/>
	<key>FacebookAppID</key>
	<string>64368537493</string>
	<key>FacebookDisplayName</key>
	<string>Gigya Socialize</string>
	<key>GigyaLogEnabled</key>
	<false/>
	<key>GigyaLoginDontLeaveApp</key>
	<true/>
	<key>GoogleClientID</key>
	<string>4241565034-dreqj9oqr43564hf1locoeg7sfig4hsu.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.gigya.GigyaDemo</string>
		<string>com.google.gppconsent</string>
		<string>gplus</string>
		<string>com-google-gidconsent-google</string>
		<string>com-google-gidconsent-youtube</string>
		<string>com-google-gidconsent</string>
		<string>com.google.gppconsent.2.4.1</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>googlechrome</string>
		<string>googlechrome-x-callback</string>
		<string>fb</string>
		<string>fbshareextension</string>
		<string>fbauth2</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>Root</string>
	<key>UIMainStoryboardFile</key>
	<string>Root</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
